.box-title {
    color: #5A67BA;
    font-size: 22px;
    text-decoration: none
}

.box-title:hover {
    color: #6878d7
}

.box-number {
    color: #8A65A3;
    font-size: 28px;
    font-weight: bold;
}

.box-container {
    display: flex;
    align-items: center;
}